USE [master]
GO
/****** Object:  Database [powerbi]    Script Date: 03/05/2021 17:20:30 ******/
CREATE DATABASE [powerbi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'powerbi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\powerbi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'powerbi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\powerbi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [powerbi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [powerbi]
GO
/****** Object:  Table [dbo].[requestStatus]    Script Date: 03/05/2021 17:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requestStatus](
	[id_status] [int] NOT NULL,
	[requestStatus] [bit] NOT NULL,
	[lastTimeRequest] [datetimeoffset](2) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
