USE [master]
GO
/****** Object:  Database [powerBi_testes]    Script Date: 11/05/2021 13:19:36 ******/
CREATE DATABASE [powerBi_testes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'powerBi_testes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\powerBi_testes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'powerBi_testes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\powerBi_testes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [powerBi_testes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [powerBi_testes]
GO
/****** Object:  Table [dbo].[requestStatus]    Script Date: 11/05/2021 13:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requestStatus](
	[id_status] [int] NOT NULL,
	[requestStatus] [bit] NOT NULL,
	[lastTimeRequest] [datetimeoffset](2) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
